<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChickenInn | Welcome</title>
    <link rel="stylesheet" href="css/addToCart.css" />
    <script src="js/kfc.js" defer></script>
  </head>
  <body>
    <!-- Start Chicken Section -->
    <section class="Chicken">
      <h1>CHICKEN</h1>
      <div class="flex">
        <div class="card">
          <img src="Images/2piecer.jpg" alt="" />
          <div class="food-details">
            <div class="name">1 Piecer</div>
            <div class="price">Price :</div>
            <div class="price" id="price">Ksh 350</div>
          </div>
          <button class="add-btn">Add to Cart</button>
        </div>

        <div class="card">
          <img src="Images/2piecer.jpg" alt="" />
          <div class="food-details">
            <div class="name">2 Piecer</div>
            <div class="price">Price :</div>
            <div class="price" id="price">Ksh 350</div>
          </div>
          <button class="add-btn">Add to Cart</button>
        </div>

        <div class="card">
          <img src="Images/2piecer.jpg" alt="" />
          <div class="food-details">
            <div class="name">3 Piecer</div>
            <div class="price">Price :</div>
            <div class="price" id="price">Ksh 350</div>
          </div>
          <button class="add-btn">Add to Cart</button>
        </div>

        <div class="card">
          <img src="Images/2piecer.jpg" alt="" />
          <div class="food-details">
            <div class="name">Bucket</div>
            <div class="price">Price :</div>
            <div class="price" id="price">Ksh 350</div>
          </div>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </section>
    <!-- End Drinks Section -->

    <!-- Start Drinks Section -->
    <section class="Drinks">
      <h1>DRINKS</h1>
      <div class="flex">
        <div class="card">
          <img src="Images/drinks350ml.jpg" alt="" />
          <div class="food-details">
            <div class="name">Streetwise 1</div>
            <div class="price">Price :</div>
            <div class="price" id="price">Ksh 80</div>
          </div>
          <button class="add-btn">Add to Cart</button>
        </div>

        <div class="card">
          <img src="Images/drinks350ml.jpg" alt="" />
          <div class="food-details">
            <div class="name">Streetwise 1</div>
            <div class="price">Price :</div>
            <div class="price" id="price">Ksh 80</div>
          </div>
          <button class="add-btn">Add to Cart</button>
        </div>

        <div class="card">
          <img src="Images/drinks350ml.jpg" alt="" />
          <div class="food-details">
            <div class="name">Streetwise 1</div>
            <div class="price">Price :</div>
            <div class="price" id="price">Ksh 80</div>
          </div>
          <button class="add-btn">Add to Cart</button>
        </div>

        <div class="card">
          <img src="Images/drinks350ml.jpg" alt="" />
          <div class="food-details">
            <div class="name">Streetwise 1</div>
            <div class="price">Price :</div>
            <div class="price" id="price">Ksh 80</div>
          </div>
          <button class="add-btn">Add to Cart</button>
        </div>
      </div>
    </section>
    <!-- End Drinks Section -->
  </body>
</html>
