<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="js/homepage.js"></script>
    <link rel="stylesheet" href="css/homepage.css" />
  </head>
  <body>
    <div>
      <h1>Hello <%= Name %></h1>
    </div>

    <div class="home-container">
      <img class="homeBg" alt="" src="Images/homeBg.png" />

      <div class="buttons">
        <button class="order-btn btnHome">Order</button>

        <button class="signUp-btn btnHome">Sign Up</button>

        <button class="login-homepage-btn btnHome">Login</button>
      </div>
    </div>
  </body>
</html>
