<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OrderPage</title>
    <link rel="stylesheet" href="css/order.css" />
    <script src="js/order.js"></script>
  </head>
  <body>
    <div class="pick">Let's Get You a Restaurant</div>
    <div class="order-container">
      <img class="orderBg" alt="" src="Images/orderBg.jpg" />
    </div>
    <div class="restaurants">
      <img class="kfc" alt="" src="Images/Kfc.png" />
      <img class="chickenInn" alt="" src="Images/chickenInn.png" />
    </div>
  </body>
</html>
