<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/signUp.css">
    <script src="js/signUp.js"></script>
    <!-- <script src="signUp.js" defer></script> -->
</head>
<body>
    <div class="signUp-container">
            <div class="create-account" >
                Create Account
            </div>
            
            <button class="login-btn" >Already Registered?Login Here!</button>
                

        <form action="" method ="POST" class="create-acc-form">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
  
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
                <input class="signUp-btn" type="submit" class="btn" value="Sign Up">
            <div>

        </form>
        
      </div>
</body>
</html>